.header {
  position: fixed;
  width: 100%;
  height: 4em;
  display: flex;
  top: 0;
  left: 0;
  flex: row;
  padding: 0 0.75em;
  z-index: 3;
  background-color: white;
}
.header__container {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 50%;
  align-items: center;
  gap: 0.5em;
}
.header__container--left {
  justify-content: left;
}
.header__container--right {
  justify-content: right;
}
