@import './_variables.scss';

.stats__content {
  background-color: #222222;
  display: flex;
  flex-direction: column;
  gap:2.5em;
  padding:2em 0;
} 
.stats__item {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.stats__item__title {
  color: #FFFFFF;
  font-family: $font-roboto;
  font-weight: 700;
  font-size: 2.5rem;
  margin-top: 0.5em;
}
.stats__item__subtitle {
  color: #999999;
  font-family: $font-roboto;
  font-size: 0.75rem;
}
.food-menu {
  padding: 0 5%;
  padding-top: 6em;
  position: relative;
}
.food-menu__donut--1 {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
}
.food-menu__donut--2 {
  display: none;
}

.facilities {
  padding: 0 5%;
  position: relative;
}
.intro-video {
  display: block;
  padding: 2.5em 5%;
  position: relative;
  background-color: #222222;
  .intro-video__video{
    margin: 1em 0;
  }
  .title{
    color: #FFFFFF;
  }
  .subtitle {
    color: $beige-tan;
  }
  .text{
    color: #C2C2C2;
  }
}
.intro-video__video--mobile {
  display: block;
}
.intro-video__video--desktop {
  display: none;
}
@media only screen and (min-width: 1000px) {
  .intro-video {
    padding: 3.5em 5%;
    display: flex;
    flex-direction: row;
    gap: 2em;
    z-index: -2;
    position: relative;
    .text{
      max-width: 31em;
    }
    .intro-video__video--mobile {
      display: none;
    }
    .intro-video__video--desktop {
      display: block;
      height: 20em;
      width: 43em;
    }
  }
  .intro-video::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 30%;
    height: 100%;
    background-color: $beige-tan;
    z-index: -1;
}
 
  .stats__content {
    flex-direction: row;
    padding: 2em 0.5em;
  } 
  .food-menu {
    padding: 0 5%;
    padding-top: 12em;
  }
  .facilities {
    padding: 0 5%;
  }
  .food-menu__donut--1 {
    display: none;
  }
  .food-menu__donut--2 {
    display: block;
    position: absolute;
    top: 0;
    left: 1%;
  }
}
@media only screen and (min-width: 1500px) {
  .intro-video {
    padding: 2.5em 20%;
  }
  .food-menu {
    padding: 0 20%;
    padding-top: 12em;
  }
  .facilities {
    padding: 0 20%;
  }
  .food-menu__donut--2 {
    left: 5%;
  }
}