@import url("https://fonts.googleapis.com/css2?family=Archivo:wght@400;500;600;700&family=Old+Standard+TT:wght@400;700&family=Roboto:wght@400;500;700&display=swap");
html,
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-width: 320px;
}

a {
  text-decoration: none;
  color: inherit;
}

input[type=date] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  background: none;
  padding: 0;
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  outline: none;
}

input[type=date]::-webkit-calendar-picker-indicator {
  display: none;
}

.container {
  position: relative;
  padding: 0 1em;
  margin-bottom: 4em;
  max-width: 375px;
  margin-left: auto;
  margin-right: auto;
}

.facilities {
  text-align: center;
}

.facilities--black::after {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  width: 100vw;
  height: 100%;
  background-color: #222222;
  z-index: -1;
  transform: translateX(-50%);
}

.title {
  color: #222222;
  font-family: "Old Standard TT", serif;
  font-size: 2.65rem;
  font-weight: 400;
  margin: 0.4em 0;
}

.title--white {
  color: #FFFFFF;
}

.title--smaller {
  font-size: 1.2rem;
}

.title--small {
  font-size: 1.4rem;
}

.title--medium {
  font-size: 1.8rem;
}

.subtitle {
  color: #777777;
  font-size: 0.65rem;
  font-family: "Archivo", sans-serif;
  font-weight: 700;
  letter-spacing: 0.15em;
}

.subtitle--black {
  color: #222222;
}

.subtitle--white {
  color: #FFFFFF;
}

.subtitle--golden {
  color: #BEAD8E;
}

.text {
  font-family: "Roboto", sans-serif;
  margin-top: 1.5em;
  font-size: 0.7em;
  line-height: 1.8;
  color: #777777;
}

.text--small {
  font-size: 0.65rem;
}

.text--white {
  color: #FFFFFF;
}

.border-bottom {
  border-bottom: 1px solid #ECECEC;
}

.crossed {
  text-decoration: line-through;
}

.button {
  border: none;
  background-color: #BEAD8E;
  padding: 1.2em;
  color: #FFFFFF;
  white-space: nowrap;
  letter-spacing: 0.1em;
  font-weight: 700;
  margin-top: 1em;
  font-size: 0.7rem;
  font-family: "Archivo", sans-serif;
  cursor: pointer;
  box-shadow: 1px 5px 9px rgba(0, 0, 0, 0.09);
}

.button--black {
  border: 2px solid rgba(255, 255, 255, 0.3294117647);
  background-color: transparent;
}

.logo {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.icon {
  width: 2em;
  height: 2em;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
}

.icon--twitter {
  background-color: #BEAD8E;
}

.icon--logo {
  box-shadow: 0px 14px 24px 0px rgba(139, 139, 139, 0.2509803922);
  height: 2em;
  width: 2em;
  margin-right: 0.25em;
  font-family: "Archivo", sans-serif;
}

.icon--logo-big {
  box-shadow: 0px 14px 24px 0px rgba(139, 139, 139, 0.2509803922);
  margin-right: 0.5em;
  font-family: "Archivo", sans-serif;
  font-weight: 700;
  font-size: 1.7rem;
}

.logo--footer {
  margin-bottom: 1.5em;
}
.logo--footer .icon--logo {
  background-color: #BEAD8E;
  height: 2em;
  width: 2em;
  margin-right: 0.5em;
  font-weight: 700;
  color: white;
  font-size: 1.4rem;
}
.logo--footer img {
  height: 1.7em;
  width: auto;
}

.page-intro {
  position: relative;
  padding: 9em 0 6em 0;
  margin-bottom: 2em;
  background-color: transparent;
}
.page-intro h1,
.page-intro h2 {
  color: #ffffff;
}
.page-intro::after {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  width: 100vw;
  height: 100%;
  background-color: #333333;
  z-index: -1;
  transform: translateX(-50%);
}

.page-intro__path-info {
  background-color: #ffffff;
  color: #333333;
  position: absolute;
  bottom: 0;
  right: 0;
  font-family: "Roboto", sans-serif;
  font-size: 0.7rem;
  font-weight: 600;
  padding: 1em 2em;
}
.page-intro__path-info > span {
  color: #BEAD8E;
}

.img-frame {
  width: 100%;
  height: 12em;
  background-color: gainsboro;
  margin-bottom: 1em;
}

.big-p {
  font-family: "Old Standard TT", serif;
  font-size: x-large;
  text-align: center;
  margin: 1em 0;
  line-height: 1.4;
}

@media only screen and (min-width: 1000px) {
  .container {
    padding: 0;
    max-width: 950px;
    margin-bottom: 6em;
  }
  .button {
    margin-top: 1.5em;
  }
  .title {
    font-size: 3rem;
  }
  .title--smaller {
    font-size: 1.1rem;
  }
  .title--small {
    font-size: 1.65rem;
  }
  .title--medium {
    font-size: 1.9rem;
  }
  .subtitle {
    font-size: 0.6rem;
  }
  .page-intro {
    max-width: 950px;
    margin: 0 auto;
    margin-bottom: 6em;
    padding-top: 12em;
    padding-bottom: 6em;
  }
  .img-frame {
    height: 22em;
  }
  .big-p {
    min-width: 20em;
    padding: 0 1.5em;
    font-size: 2.3rem;
  }
  .text {
    font-size: 0.7rem;
  }
  .text--small {
    font-size: 0.6rem;
  }
}/*# sourceMappingURL=index.css.map */