@import url(./home.scss);
@import url("https://fonts.googleapis.com/css2?family=Archivo:wght@400;500;600;700&family=Old+Standard+TT:wght@400;700&family=Roboto:wght@400;500;700&display=swap");
html, * {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-width: 320px;
}

a {
  text-decoration: none;
  color: inherit;
}

.header {
  position: fixed;
  width: 100%;
  height: 4em;
  display: flex;
  top: 0;
  left: 0;
  flex: row;
  padding: 0 0.75em;
  z-index: 3;
  background-color: white;
}

.header__container {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 50%;
  align-items: center;
  gap: 0.5em;
}

.header__container--left {
  justify-content: left;
}

.header__container--right {
  justify-content: right;
}

.logo {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.icon {
  width: 2em;
  height: 2em;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
}

.icon--twitter {
  background-color: #BEAD8E;
}

.icon--logo {
  box-shadow: 0px 14px 24px 0px rgba(139, 139, 139, 0.2509803922);
  height: 2em;
  width: 2em;
  margin-right: 0.25em;
  font-family: "Archivo", sans-serif;
}

.logo--footer {
  margin-bottom: 2em;
}
.logo--footer .icon--logo {
  background-color: #BEAD8E;
  height: 2.25em;
  width: 2.25em;
  margin-right: 0.8em;
  font-weight: 700;
  color: white;
  font-size: 1.4rem;
}
.logo--footer img {
  height: 1.8em;
  width: auto;
}

.footer {
  width: 100%;
  margin-top: 4em;
}

.footer__info {
  background-image: url("../public/img/patrondereja.webp");
  background-repeat: repeat;
  background-size: auto;
  position: relative;
  padding: 1.5em 1em 0.01em 1em;
}
.footer__info p {
  font-size: 0.75rem;
  font-family: "Archivo", sans-serif;
  line-height: 1.5;
  color: #777777;
  max-width: 20em;
}

.footer__media {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.25em;
  margin-top: 1em;
}

.footer__subtitle {
  font-family: "Old Standard TT", serif;
  font-size: 1.2rem;
  margin-top: 1.5em;
  margin-bottom: 1.25em;
}

.footer__info__services ul {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0.5em;
  list-style-type: none;
  margin-top: 1em;
}
.footer__info__services ul li {
  font-family: "Roboto", sans-serif;
  color: #777777;
  font-size: 0.75rem;
  position: relative;
  padding: 0.25em 0;
  padding-left: 1em;
}
.footer__info__services ul li::before {
  content: "+";
  position: absolute;
  left: 0;
  color: #BEAD8E;
}

.footer__contact-num {
  display: flex;
  flex-direction: row;
  gap: 1.25em;
  margin: 2em 0;
}

.footer__contact-num__title {
  font-family: "Old Standard TT", serif;
  font-size: 1rem;
  color: #222222;
}

.footer__contact-num__subtitle {
  font-family: "Roboto", sans-serif;
  font-size: 0.75rem;
  color: #777777;
}

.footer__cr-text {
  background-color: #F8F8F8;
  font-family: "Roboto", sans-serif;
  font-size: 0.75rem;
  font-weight: 500;
  padding: 0.01em 1em;
}
.footer__cr-text p {
  margin: 1em 0;
}

@media only screen and (min-width: 1000px) {
  .footer__cr-text {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1em 5em;
  }
  .footer__info {
    display: flex;
    flex-direction: row;
    padding: 0 5em;
    padding-top: 4em;
    padding-bottom: 1em;
    gap: 1.5em;
  }
  .footer__info__about {
    flex: 1;
    min-width: 14.5em;
  }
  .footer__info__about p {
    max-width: 20em;
  }
  .footer__info__services {
    flex: 1;
    min-width: 14.5em;
  }
  .footer__info__contact {
    flex: 1;
    min-width: 14.5em;
  }
  .footer__subtitle {
    margin-top: 0;
  }
}/*# sourceMappingURL=index.css.map */