@import './_variables.scss';

.offers {
  padding: 0 1em;
}

.offer {
  box-shadow: 0 5px 5px 0px rgba(0, 0, 0, 0.1);
  margin-bottom: 2em;
}

.offer--mobile {
  display: block;
}

.offer--desktop {
  display: none;
}

.offer__description {
  padding: 1em;
  padding-bottom: 2em;
}

.offer__img {
  height: 10em;
  position: relative;

  >img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.offer__price {
  position: absolute;
  right: 5%;
  bottom: 30%;
  font-family: $font-archivo;
  color: $beige-tan;
  font-weight: 700;
  font-size: 1.3rem;

  .night {
    font-size: 0.5rem;
  }
}

.offer__price--discount {
  color: $red;
  font-size: 1.7rem;
  transform: translateY(100%);

  >span {
    font-size: 0.7rem;
  }
}

.amenities {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1em;
  margin: 1em 0;
}

.amenities__popular-rooms-grid__item {
  font-weight: 500;
  font-family: $font-roboto;
  color: #777777;
  font-size: 0.65rem;

  >img {
    margin-top: 0.1em;
    margin-right: 0.5em;
  }
}

.popular {
  text-align: center;
  position: relative;
  z-index: 2;
  padding: 2em 0;
}

.popular::before {
  content: "";
  background-color: #222222;
  position: absolute;
  top: 0;
  left: -1em;
  width: calc(100% + 2em);
  height: 100%;
  z-index: -1;
}

.popular-rooms-grid {
  display: none;
}

@media only screen and (min-width: 1000px) {
  .offers {
    max-width: 950px;
    margin-left: auto;
    margin-right: auto;
  }

  .offer--mobile {
    display: none;
  }


  .offer--desktop {
    display: block;
    margin-bottom: 24em;
    box-shadow: none;
  }

  .offer__img {
    position: relative;
    width: 100%;
    height: auto;

    >img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .offer__description {
    position: absolute;
    border-top: 5px solid $beige-tan;
    bottom: 0;
    left: 5%;
    transform: translate(0, 90%);
    width: 90%;
    background-color: white;
    padding: 2em;
  }

  .offer__description__row {
    display: flex;
    flex-direction: row;
    gap: 1em;

    >div {
      flex: 1;
      position: relative;
    }
  }

  .offer__price {
    right: 5%;
    top: 0;
  }

  .offer__price--discount {
    transform: translateY(50%);
  }

  .popular-rooms-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1em;
    margin-top: 4em;
  }

  .popular {
    padding: 4em 0;
  }

  .popular::before {
    left: 50%;
    width: 100vw;
    transform: translateX(-50%);
  }

  .popular-rooms-grid__item {
    background-color: white;
  }

  .popular-rooms-grid__item__room-description {
    position: relative;
    padding: 1em;
    padding-bottom: 2em;

    .popular-rooms-grid__item__room-features {
      position: absolute;
      top: 0;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    .text {
      margin: 0.7em 0;
    }

    .popular-rooms-grid__item__room-description__price {
      font-weight: 700;
      font-family: $font-archivo;
      color: $beige-tan;
      font-size: 0.9rem;
      margin-right: 0.5em;

      >span {
        font-size: 0.65rem;
      }
    }

    .popular-rooms-grid__item__room-description__booking {
      font-weight: 700;
      font-family: $font-archivo;
      color: #BDBDBD;
      font-size: 0.9rem;
    }
  }

  .popular-rooms-grid__item__img {
    width: 100%;
    height: 10em;
    object-fit: cover;
  }
}