@import './_variables.scss';

.room {
  padding: 0 1em;
}

.room__price {
  font-family: $font-archivo;
  color: $beige-tan;
  font-weight: 700;
  font-size: 2rem;

  >span {
    font-size: 0.8rem;
  }
}

.room__img {
  margin-top: 1em;
  width: 100%;
  height: auto;
}

form {
  margin-top: 2em;
  margin-bottom: 2em;
  padding: 0 1.25em;
  display: block;
  text-align: left;

  >h5 {
    font-weight: 700;
    font-family: $font-archivo;
    font-size: 0.9rem;
    margin-left: 3.5em;
    margin-bottom: 2em;
  }

  label {
    font-family: $font-roboto;
    font-weight: 700;
    font-size: 0.85rem;
    width: 100%;
    color: #222222;
  }

  .date-input-container {
    position: relative;
    margin-top: 0.7em;
    margin-bottom: 1.5em;

    input {
      cursor: pointer;
      width: 100%;
      border: none;
      color: #777777;
      background-color: #F8F8F8;
      font-family: $font-roboto;
      font-weight: 400;
      font-size: 0.8rem;
      height: 3em;
      padding-left: 1.5em;
    }
  }

  .date-input-container::after {
    content: url(/public/icon/calendar_icon\ 2.svg);
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
  }

}

.amenities {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1em;
  border-top: 1px solid #F1F1F1;
  padding-top: 2em;
}

.amenities__item {
  font-weight: 500;
  font-family: $font-roboto;
  color: #777777;
  font-size: 0.7rem;
  >img{
    margin-top: 0.1em;
    margin-right: 0.5em;
  }
}